<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.repository.mybatis.ReplyMapper">
    <sql id="replyColumns">
        reply_id, board_id, member_id, reply_writer, reply_content, reply_regdate
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="replyId">
        insert into
        reply (board_id, member_id, reply_writer, reply_content, reply_regdate)
        values
        (#{boardId}, #{memberId}, #{replyWriter}, #{replyContent}, now())
    </insert>

    <select id="findById" parameterType="Long" resultType="com.blog.domain.Reply">
        select
            <include refid="replyColumns"/>
        from
            reply
        where
            reply_id = #{replyId}
    </select>

    <select id="findByBoardId" parameterType="Long" resultType="com.blog.domain.Reply">
        select
            <include refid="replyColumns"/>
        from
            reply
        where
            board_id = #{boardId}
    </select>

    <select id="findByMemberId" parameterType="Long" resultType="com.blog.domain.Reply">
        select
            <include refid="replyColumns"/>
        from
            reply
        where
            member_id = #{memberId}
    </select>

    <delete id="deleteById" parameterType="Long">
        delete from
            reply
        where
            reply_id = #{replyId}
    </delete>

    <!-- 댓글 페이지네이션 -->
    <select id="findPageByBoardId" parameterType="map" resultType="com.blog.domain.Reply">
        select
            <include refid="replyColumns"/>
        from
            reply
        where
            board_id = #{boardId}
        order by
            reply_regdate desc limit #{replySearchDto.pagination.limitStart}, #{replySearchDto.recordSize}
    </select>

    <select id="findPageMaxCountByBoardId" parameterType="Long" resultType="Integer">
        select
            count(*)
        from
            reply
        where
            board_id = #{boardId}
    </select>

</mapper>