<!DOCTYPE html>
<html th:replace="~{layouts/homeLayout :: homeLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="">
<head>
    <title>board</title>
</head>
<body>

<section>
    <!-- /* 리스트 데이터 렌더링 영역 */ -->
    <th:block layout:fragment="script">

    </th:block>

    <div class="container w-75 p-1 my-2">
        <form method="get" th:action="@{/board}">
            <select class="form-select d-inline" style="width:150px; height:40px;" th:name="searchType" th:id="searchType">
                <option></option>
                <option th:each="searchType : ${searchTypeList}" th:value="${searchType.value}" th:text="${searchType.name}"></option>
            </select>
            <input style="width:150px; height:40px;" class="d-inline" type="text" th:name="keyword" th:id="keyword">
            <button style="width:60px; height:40px;" class="btn btn-outline-success d-inline mb-1" type="submit">검색</button>
        </form>
    </div>

    <!--/* 리스트 데이터 렌더링 영역 */-->
    <div id="list">
        <div class="card w-75 p-3 my-2" style="float: none; margin:0 auto;" th:each="board : ${response.list}">
            <a class="card-header" th:href="@{/board/{param1}(param1=${board.boardId})}" th:text="${board.boardTitle}"></a>
            <div class="card-body">
                <span th:text="${board.boardWriter}">작성자</span>
                <span th:text="${#temporals.format(board.boardRegdate, 'yyyy년 MM월 dd일 HH시 mm분')}">날짜</span>
            </div>
        </div>
    </div>

    <!-- /* 페이지네이션 렌더링 영역 */ -->
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-center paging"></ul>
    </nav>

    <!--/* 글쓰기 버튼 */-->
    <div class="container w-75 p-3 my-2">
        <a class="btn btn-primary" th:href="@{/board/writeView}" th:text="글쓰기">글쓰기</a>
        <a class="btn btn-primary" th:href="@{/board/recoverView}" th:text="|게시글 복구|">복구</a>
    </div>

</section>
</body>
</html>